<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CalendarIconDateStyle</key>
	<string>color: rgba(0,0,0);font-size: 27px; padding-top: 8px; ; padding-right:2px</string>
	<key>CalendarIconDayStyle</key>
	<string>color: white;font-size: 8px; padding-top: 5px</string>
</dict>
</plist>
